.Brand{
	display: flex;
	flex-direction: row;
	font-family: var(--fontBrand);
	gap: 1.0625rem;
	width: max-content;
	height: 4.375rem;
	margin: 1.9375rem 0 0 2.5rem;
}

.Brand__img{
	width: 4.375rem;
	height: 4.375rem;
	stroke: var(--principalColor);
}

.Brand__name{
	display: flex;
	flex-direction: column;
	font-size: 1.625rem;
	font-weight: 500;
}

.Brand__start{
	margin-top: -0.275rem;
	align-self: flex-start;
}

.Brand__resalted{
	color: var(--principalColor);
	font-size: 1.875rem;
	margin-top: -0.41rem;
}

.Brand__end{
	margin-top: -0.75rem;
	align-self: flex-end;
}